/* latin */
/* fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/montserrat/Montserrat-Regular.woff2) format('woff2');
  src: local('Montserrat-Regular'), url(../fonts/montserrat/Montserrat-Regular.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/montserrat/Montserrat-Bold.woff2) format('woff2');
  src: local('Montserrat-Bold'), url(../fonts/montserrat/Montserrat-Bold.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  background-color: #eee;
  font-family: Montserrat;
}

main {
  width: 100%;
  max-width: 60em;
  height: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7em;
  overflow: auto;
  box-sizing: border-box;
  margin-bottom: 0.7em;
}

/* tkr style */

.tkr-right {
  float: right;
}

/* Show Task */
.tkr-task {
  margin-top: 1em;
  width: 100%;
}


.tkr-task-content .tkr-tag {
	color: #1E90FF;
}

.tkr-task-content .tkr-line {
	clear: both;
}

.tkr-task button {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/* No tasks */
.enjoy-day.mdl-card {
  width: 100%;
  height: 10em;
}

.no-tasks-bg-0 {
  background: url('../images/jp-3-stones.png') center / cover;
}

.no-tasks-bg-1 {
  /* change this to png */
  background: url('../images/jp-garden.jpg') center / cover;
}

.no-tasks-bg-2 {
  background: url('../images/jp-gold-palace.png') center / cover;
}

.no-tasks-bg-3 {
  background: url('../images/jp-higth-view.png') center / cover;
}

.no-tasks-bg-4 {
  background: url('../images/jp-stone.png') center / cover;
}

.no-tasks-bg-5 {
  background: url('../images/jp-sun.png') center / cover;
}

.no-tasks-bg-6 {
  background: url('../images/pt-garden-evora.png') center / cover;
}

.enjoy-day > .mdl-card__actions {
  height: 3.5em;
  padding: 0.5em;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

/* Task divider */
.tkr-show-tasks, 
.tkr-add-tasks {
  height: 50%;
  overflow: auto;
}

/* Add tasks */

[data-is='add-task'],
add-task {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.addtask {
  max-height: 26em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  position: absolute;
  padding: 0.5em;
}

.tkr-editor {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  position: relative;
}

.tkr-edit {
  width: 100%;
  height: 100%;
  padding: 0.7em;
  box-sizing: border-box;
  border: 1px solid #8bc34a;
  position: absolute;
  z-index: 101;
}

/*
.tkr-editor .placeholder {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  color: #aaa;
  padding: 0.7em;
  background-color: white;
  z-index: 100;
}

.tkr-editor.editing .placeholder .help-message {
  display: none;
}*/

/* utils */
.clear {
  clear: both;
}

/*Show task text style */
.tag, .text {
  float: left;
  margin-left: 0.5em;
}

.tag {
  color: #8bc34a;
}

/* Task Manager */
[data-is='task-manager'],
task-manager {
  height: 100%;
  position: relative;
  display: block;
}

.tkr-taskmanager-tasks {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: auto;
}

.tkr-taskmanager-buttons {
  margin: 0.25em;
}

/* Tasks of the day */
.task-of-the-day {
  position: relative;
  width:100%;
  display:block;
}

.tkr-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
}


.task-of-the-day ul,
.task-of-the-day .mdl-menu__container {
  width: 100% !important;
  max-width: 20em;
}

.tkr-tags-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tkr-left {
  float: left;
}

.tkr-right {
  float: right;
}

/* sprints */
.sprints .title {
  font-size: 1.5em;
  border-bottom: 3px solid #8bc34a;
  padding: 0.2em;
  margin-bottom: 0.5em;
  font-style: italic;
}

.sprint {
  margin-bottom: 1em; 
  border-bottom: 1px solid #d3d3d3;
}

.add-sprint {
  margin: 1em;
}

.add-sprint ul,
.add-sprint .mdl-menu__container {
  width: 90% !important;
  max-width: 20em;
}

#tags-sprints {
  width: 100%;
}

#tags-sprints i {
  float: right;
  margin: 0.2em;
}

.tkr-full-width {
  width: 100%;
}

.drawer-content {
  padding: 0.5em;
}

/* Global standart Elements */

a {
  color: #8bc34a;
  font-size: 1.2em;
}

/* documentation */
.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 98%;
  max-width: 52em;
  padding-right: 1em;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  box-sizing: border-box;
}

.page .section {
    margin-bottom: 1em;
}

.page .section .title {
  font-size: 1.5em;
  border-bottom: 1px solid #8bc34a;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  width: 100%;
  color: #8bc34a;
}

.page .section .content {
  padding-left: 1em;
}

.page ul {
  padding-left: 0.8em;  
}


/* Modal */
.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.modal .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 1000;
  opacity: 0.5;
}

.modal .content {
  max-width: 40em;
  background-color: white;
  width: 100%;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

/* tooltips */
.tooltips-card-square.mdl-card {
  width: 100%;
  height: 100%;
}

.tooltips-card-square > .mdl-card__title {
  color: #fff;
  background-color: #46B6AC;
  /*background: url('../images/jp-3-stones.png') no-repeat;
  background-size: cover;
   url('../images/jp-3-stones.png') bottom right 15% no-repeat #46B6AC;*/
}

.hide {
  display: none;
}