<div class='content'>
	<div class='title'>Task Rollet</div>

	<div class='task-display'>
		<div class='task' *ngIf="state===STATE_TASKROULLET" >
			<div class='header'>
				<div class='title'>
					Task of the day ({{showDate(taskOfTheDay.task.date)}})
				</div>
				<div class='buttons'>
					<div class='button' (click)='deleteTask()' *ngIf='taskOfTheDay.index !== undefined'>Delete</div>
				</div>
			</div>
			<div class='task-content'>
			{{taskOfTheDay.task.content}}
			</div>
		</div>

		<div class='task' *ngIf="state===STATE_TASKROULLET_EMPTY" >
			There is no tasks... go outside and enjoy the day ;)
		</div>

		<div class='task' *ngIf="state===STATE_TASKROULLET_DAY_EMPTY" >
			There is no more tasks for today... go outside and enjoy the day ;)
		</div>

		<div class='task-manager' *ngIf="state===STATE_TASKMANAGER" >
			<div class='header'>
				<div class='title'>Task Manager</div>
				<div class='buttons'>
					<div class='button' (click)='done()'>Done</div>
				</div>
			</div>
			<div class='tasks'>
				<div class='task' *ngFor="let task of tasks; let i=index">
					<div class='header'>
						<div class='title'>
							Task of the day ({{showDate(task.date)}})
						</div>
						<div class='buttons'>
							<div class='button' (click)='deleteTask(i)'>Delete</div>
						</div>
					</div>
					<div class='task-content'>
						{{task.content}}
					</div>				
				</div>
			</div>
		</div>

	</div>
	<div class='taskeditor'>
		<textarea 
			#taskDescription 
			placeholder="New task description!"
		></textarea>
		<div class='button' (click)="addTask(taskDescription.value)">Add</div>
	</div>
</div>
