<div class='content'>
	<div class="toasts">
		<div class="toast" *ngFor="let toast of toasts">
			<span style='color: green'>Task Added: </span>{{toast}}
		</div>
	</div>
	
	<div class='title'>Task Roullet</div>

	<div class='task-display'>
		<div class='task' *ngIf="state===STATE_TASKROULLET" >
			<div class='header'>
				<div class='title'>
					Task of the day ({{showDate(taskOfTheDay.task.date)}})
				</div>
				<div class='buttons'>
					<div class='button' (click)='deleteTask()'>Delete</div>
				</div>
			</div>
			<div class='task-content' ng-if='taskOfTheDay.task.parsed.task'>
				<div *ngFor="let line of taskOfTheDay.task.parsed.task;" class='line'>
					<div *ngFor="let content of line.line;" [ngClass]="{tag: content.tag, text: content.text}">
						{{content.tag?"#" +content.tag:content.text}}
					</div>
				</div>
				<div class='line'></div>
			</div>
		</div>

		<div class='task' *ngIf="state===STATE_TASKROULLET_EMPTY" >
			There is no tasks... go outside and enjoy the day ;)
		</div>

		<div class='task' *ngIf="state===STATE_TASKROULLET_DAY_EMPTY" >
			There is no more tasks for today... go outside and enjoy the day ;)
		</div>

		<div class='task-manager' *ngIf="state===STATE_TASKMANAGER" >
			<div class='header'>
				<div class='title'>Task Manager</div>
				<div class='buttons'>
					<div class='button' (click)='done()'>Done</div>
				</div>
			</div>
			<div class='tasks'>
				<div class='task' *ngFor="let task of tasks; let i=index">
					<div class='header'>
						<div class='title'>
							Task of the day ({{showDate(task.date)}})
						</div>
						<div class='buttons'>
							<div class='button' (click)='deleteTask(i)'>Delete</div>
						</div>
					</div>
					<div class='task-content'>
						{{task.content}}
					</div>				
				</div>
			</div>
		</div>

	</div>
	<div class='taskeditor'>
		<textarea 
			placeholder="New task description!"
			[(ngModel)]="taskDescription"
		></textarea>
		<div class='button' (click)="addTask()">Add</div>
	</div>
</div>
